@charset "UTF-8";
/* line 17, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 36, ../sass/screen.scss */
.elegant, .controls, .controls a, #archive time {
  font-family: "lft-etica", "Georgia", Helvetica, Arial, sans-serif !important;
  color: #666;
  font-size: 0.7rem !important;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 44, ../sass/screen.scss */
.shadow, #footnotediv {
  box-shadow: rgba(0, 0, 0, 0.29804) 0px 0px 8px 0px;
}

/* line 57, ../sass/screen.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 62, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 66, ../sass/screen.scss */
blockquote {
  background: #f4f4f4;
  color: #222;
}
/* line 69, ../sass/screen.scss */
blockquote p {
  margin-bottom: 0;
}

@media only screen and (min-width: 40.063em) {
  /* line 74, ../sass/screen.scss */
  p {
    font-size: 1.01rem !important;
  }
}

/* line 80, ../sass/screen.scss */
.row.full-width {
  width: 100%;
  max-width: 100%;
}

/* line 85, ../sass/screen.scss */
article {
  margin-top: 3.765rem;
}
/* line 87, ../sass/screen.scss */
article h2, article h3 {
  letter-spacing: -1px;
}
/* line 90, ../sass/screen.scss */
article ol li {
  list-style-type: decimal;
}
/* line 93, ../sass/screen.scss */
article sup {
  font-size: 0.75em !important;
}
/* line 95, ../sass/screen.scss */
article sup a {
  position: relative;
  top: -2px !important;
  margin-left: 2px;
  margin-right: 5px;
  font-weight: bold;
  text-align: center;
  height: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  border-radius: 1rem;
  background: #bbb;
  color: #fff;
  text-decoration: none;
}
/* line 106, ../sass/screen.scss */
article sup a:hover {
  background: #888;
  color: #fff;
  text-decoration: none;
}
/* line 112, ../sass/screen.scss */
article .thumb {
  width: 100%;
}
/* line 115, ../sass/screen.scss */
article .footnotes {
  border-top: 1px solid #aaa;
  padding-top: 0.4rem;
}
/* line 118, ../sass/screen.scss */
article .footnotes ol {
  list-style-type: decimal;
}
/* line 122, ../sass/screen.scss */
article .footnotes p {
  font-size: 80% !important;
  margin-bottom: 0.68421rem;
}

/* line 132, ../sass/screen.scss */
header h1 {
  font-weight: 600;
  margin-top: 0;
  letter-spacing: -1px;
  line-height: 1.2em;
  margin-bottom: 0.618rem;
}
/* line 140, ../sass/screen.scss */
header h1:not(.link-post) a {
  color: #222222;
}
/* line 143, ../sass/screen.scss */
header h1:not(.link-post) a:hover {
  color: #9037cd;
  text-decoration: none;
}
/* line 148, ../sass/screen.scss */
header h1.link-post {
  font-size: 1.26316rem;
}
/* line 151, ../sass/screen.scss */
header .link-post:after {
  content: ' ⇢';
  color: #666;
  text-decoration: none;
}

/* line 159, ../sass/screen.scss */
kbd {
  padding: 0.1em 0.4em;
  border: 1px solid #bbb;
  font-size: 14px;
  font-family: Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px white inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px white inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px white inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}

/* line 179, ../sass/screen.scss */
figure {
  margin-bottom: 1.36842rem;
  border-bottom: 1px solid #ccc;
}
/* line 182, ../sass/screen.scss */
figure figcaption {
  margin-top: 0.8em;
  line-height: 1.4;
  font-size: 75%;
}

/* line 189, ../sass/screen.scss */
pre {
  white-space: pre-wrap;
  font-size: 1.01rem;
}
@media only screen and (min-width: 40.063em) {
  /* line 189, ../sass/screen.scss */
  pre {
    font-size: 19px;
  }
}

/* line 197, ../sass/screen.scss */
pre + p {
  margin-top: 1.36842rem;
}

/* line 201, ../sass/screen.scss */
code {
  font-size: 0.8em;
  text-rendering: auto;
}

/* line 209, ../sass/screen.scss */
p code,
ul code,
figure code,
ol code {
  background: #f0f6fc;
  font-weight: normal;
  border: 1px dashed #ccc;
  color: #333;
  line-height: 1.5714em;
  margin-top: 1.5714em;
  margin-bottom: 0em;
  padding: 0 2px;
}

/*
 * Classes
 */
/* line 225, ../sass/screen.scss */
.name h1 {
  font-size: 1rem !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 229, ../sass/screen.scss */
.name h1 a {
  text-decoration: none;
}
/* line 231, ../sass/screen.scss */
.name h1 a i {
  font-size: 1.05263rem;
}
/* line 234, ../sass/screen.scss */
.name h1 a i:hover {
  color: #9037cd;
}
/* line 238, ../sass/screen.scss */
.name h1 a:hover i {
  color: #9037cd;
}

/* line 243, ../sass/screen.scss */
.translucent {
  background-color: rgba(250, 250, 250, 0.97) !important;
  -moz-box-shadow: 0 1px #e0e0e0 !important;
  -webkit-box-shadow: 0 1px #e0e0e0 !important;
  box-shadow: 0 1px #e0e0e0 !important;
}
/* line 248, ../sass/screen.scss */
.translucent a {
  color: #333 !important;
}
/* line 251, ../sass/screen.scss */
.translucent .menu-icon a::after {
  box-shadow: 0 10px 0 1px #9037cd, 0 16px 0 1px #9037cd, 0 22px 0 1px #9037cd !important;
}

/* line 257, ../sass/screen.scss */
.top-bar {
  font-family: "lft-etica", "Georgia", Helvetica, Arial, sans-serif !important;
  -moz-box-shadow: 0 1px #666;
  -webkit-box-shadow: 0 1px #666;
  box-shadow: 0 1px #666;
}

/* line 264, ../sass/screen.scss */
.past-main {
  background-color: #333;
}

/* line 268, ../sass/screen.scss */
.centered {
  text-align: center;
}

/* line 272, ../sass/screen.scss */
.link-post:after:hover {
  text-decoration: none !important;
}

/* line 276, ../sass/screen.scss */
.hero {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: #333;
}
/* line 282, ../sass/screen.scss */
.hero p {
  color: #ccc;
}

/* line 288, ../sass/screen.scss */
.icons li {
  display: inline;
  margin-right: 5px;
}
/* line 292, ../sass/screen.scss */
.icons a {
  text-decoration: none;
}

/* line 297, ../sass/screen.scss */
.icon {
  padding-top: 7px;
  text-align: center;
  font-size: 0.94737rem;
  color: #fff;
  background: #333;
  line-height: 35px;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/* line 306, ../sass/screen.scss */
.icon-small {
  padding-top: 3px;
  padding-left: 0px;
  text-align: center;
  font-size: 24px;
  color: #333;
  background: #CCC;
  line-height: 28px;
  text-align: center;
  width: 29px;
  height: 29px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/* line 316, ../sass/screen.scss */
.icon:hover {
  background: #9037cd !important;
}

/* line 319, ../sass/screen.scss */
.icon-small:hover {
  background: #9037cd;
  color: #fff;
  text-decoration: none;
}

/* line 325, ../sass/screen.scss */
.text-icon {
  padding-right: 2px;
}

/* line 329, ../sass/screen.scss */
.controls {
  margin-bottom: 2.036rem;
}

/* line 337, ../sass/screen.scss */
.tag {
  font-weight: 400 !important;
}

/* line 341, ../sass/screen.scss */
.section-title {
  text-transform: uppercase;
  font-size: 0.94737rem;
}

/* line 347, ../sass/screen.scss */
#archive time {
  margin-right: 25px;
}
/* line 351, ../sass/screen.scss */
#archive .post-list {
  margin-left: 0;
}
/* line 354, ../sass/screen.scss */
#archive .recent-post {
  align: left;
}

/* line 359, ../sass/screen.scss */
#footnotediv {
  border-radius: 15px;
  padding: 15px;
  color: #fff;
  border: 3px solid #9037cd;
  background: #333;
}
/* line 366, ../sass/screen.scss */
#footnotediv p {
  font-family: "lft-etica", "Georgia", Helvetica, Arial, sans-serif !important;
  font-size: 80% !important;
  font-weight: 600 !important;
  margin-bottom: 0 !important;
}
/* line 371, ../sass/screen.scss */
#footnotediv p a.reversefootnote {
  display: none;
}

/* line 377, ../sass/screen.scss */
footer.controls {
  font-weight: 400 !important;
}
/* line 378, ../sass/screen.scss */
footer.controls a {
  font-weight: 400 !important;
  display: block;
  margin-bottom: 1rem;
}
