<div class="hero">
    <p class="centered">Coffee, code, literature, language, <s>and giant spiders.</s></p>
    <nav>
      <ul class="icons text-center">
          <li>
            <a href="http://twitter.com/mitchchn">
                <i class="icon-small purple-bg fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="http://github.com/mitchchn">
                <i class="icon-small purple-bg fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="http://github.com/mitchchn">
                <i class="icon-small purple-bg fa fa-thumb-tack"></i>
            </a>
          </li>

        </ul>
    </nav>


</div>