<div class="hero">
    <div class="row">
    <div class="large-5 medium-5 columns">
    <p>I'm <strong>Mitchell Cohen</strong>, a writer and technophile from Toronto.
    This is where I write about coffee, code, journalism, language, insomnia <s>and giant spiders.</s></p>
    </div>
    <div class="push-1 large-3 medium-3 columns">
        <h4>(Find me)</h4>
      <ul class="icons">
          <li>
            <a href="http://twitter.com/mitchchn">
                <i class="icon-small purple-bg fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="http://github.com/mitchchn">
                <i class="icon-small purple-bg fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="http://github.com/mitchchn">
                <i class="icon-small purple-bg fa fa-thumb-tack"></i>
            </a>
          </li>
        </ul>
    </div>

    <div class="large-3 medium-3 columns">
    
    </div>
    </div>
</div>