<div class="hero">
{% if page.url == "/index.html" %}
    <div class="hero-content fp-hero">
    <div class="row">
    <div class="large-2 medium-2 small-3 columns">
    <div class="me" style="background-image:url('/public/img/mitchell.jpg'); background-size: contain;"></div>       
    </div>
    <div class="large-6 medium-6 small-9 columns">
    <p>I'm <strong>Mitchell Cohen</strong>, a writer and technophile from Toronto.
    This is where I write about coffee, code, journalism, language, insomnia <s>and giant spiders.</s></p>
    </div>
    <div class="right social large-3 medium-3 columns">
        <h5>(Find me)</h5>
      <ul class="icons">
          <li>
            <a href="http://twitter.com/mitchchn">
                <i class="icon-small purple-bg fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="http://github.com/mitchchn">
                <i class="icon-small purple-bg fa fa-github"></i>
            </a>
          </li>
          <li class="last">
            <a href="http://github.com/mitchchn">
                <i class="icon-small purple-bg fa fa-thumb-tack"></i>
            </a>
          </li>
        </ul>
    </div>
    </div>
    </div>

{% else %}

<div class="hero-content">
{% if page.banner %}
<div id="hero-image" class="hero-image" style="background-image: url('{{page.banner}}');" data-0="opacity: 1;" data-400="opacity:0;"></div>
<div class="headline headline-image" data-0="top: 50%;" data-300="top: 55%;"><h1 itemprop="name">{{page.title}}</h1>
 <!--<script type="text/javascript">window.addEventListener("scroll", fadeHero, false);</script>-->
<div class="down-arrow">
<a id="scroll-to-content" href="#post-content"><i class= "fa fa-chevron-down" data-0="opacity: 1;" data-200="opacity: 0;"></i></a>
</div>
</div>

{% else %}
<div id="hero-image" class="hero-no-image"></div>
<div class="headline headline-no-image"><h1 itemprop="name">{{page.title}}</h1></div>
{% endif %}
</div>

{% endif %}
    

</div>