<div class="sticky tbar contain-to-grid">
  <nav class="top-bar" data-topbar data-options="sticky_on:medium">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">
            <i class="fa fa-coffee"></i>
            mitchchn.me
            </a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
    <ul class="right">
    <li class="active">
    <a href="/about">
    About
    </a>
    </li>
    <li class="active">
    <a href="/about">
    Archive
    </a>
    </li>
    </ul>
    </section>
  <section class="top-bar-section">
</nav>
</div>