<header class = "post-header">
  {% if post.link %}
  	  <h2 class="post-title link-post"><a href={{post.link}}>{{ post.title }}</a>
      </h2>
	{% else %}
  	<h2 class="post-title"><a href={{post.url}}>{{ post.title }}</a></h2>
  {% endif %}
  {% if post.subtitle %}
    <h1 class="subheader">{{ post.subtitle }}</h1>
  {% endif %}
  <p class="controls">
  <time class="controls post-date">{{ post.date | date: "%B %d, %Y" }}</time>
  </p>
 <!--{% if post.tag %}
   <p class="category">
  <span>Filed in: </span>
  <a>
  <i class="fa fa-tag text-icon"></i><span>{{ post.tag }}</span>
  </a>
  </p>
  {% endif %}-->
</header>