  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}</title>

    <!-- CSS -->
    <!-- Foundation -->
    <link rel="stylesheet" href="/public/css/foundation.css" />
    <!--<link rel="stylesheet" href="/public/css/normalize.css" />-->
    <!-- Pygments -->
    <link rel="stylesheet" href="/public/css/syntax.css">
    <!-- Custom -->
    <link rel="stylesheet" href="/public/css/main.css">

    <!-- Fonts -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700' rel='stylesheet' type='text/css'>

    <script src="js/vendor/modernizr.js"></script>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  </head>
