<div class="tbar contain-to-grid">
  <nav class="top-bar" data-topbar data-options="sticky_on:medium">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">
            <i class="fa fa-coffee"></i>
            mitchchn.me
            </a></h1>
      </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    {% if page.url != "/" %}
    <section class="top-bar-section">
    <ul class="right">
    <li class="has-dropdown">
        <a href="#">Article</a>
        <ul class="dropdown translucent">
            <li><label>Share this article</label><li>
          <li id="custom-tweet-button">
          <a class="popup" href="https://twitter.com/share?text={{page.title}}&url={{page.url}}">
          <i class="fa fa-twitter"></i>
          Twitter</a></li>
        </ul>
<script>
  $('.popup').click(function(event) {
    var width  = 575,
        height = 400,
        left   = ($(window).width()  - width)  / 2,
        top    = ($(window).height() - height) / 2,
        url    = this.href,
        opts   = 'status=1' +
                 ',width='  + width  +
                 ',height=' + height +
                 ',top='    + top    +
                 ',left='   + left;
    
    window.open(url, 'twitter', opts);
 
    return false;
  });
</script>
    </li>
    </ul>
    </section>
  {% endif %}
  <section class="top-bar-section main-menu">
        <ul class="right">
        <li class="button-small">
        <a href="/about">
        About
        </a>
        </li>
        <li class="button-small">
        <a href="/archive">
        Archive
        </a>
        </li>
        </ul>
    </section>
    {% if page.url == "/" %}
        <script>
        $('.main-menu').addClass('fp-main-menu');
        $('.main-menu li').addClass('active');
        </script>
    {% endif %}
</nav>
</div>