<div class="masthead">
    <div class="row">
        <div class="logo large-9 large-centered columns">
            <a class="brand" href="/" title="Home">
                <i class="fa fa-coffee"></i>
                <h1 class="title">
                <span class="former">mitchchn</span><span class="latter">.me</span>
                </h1>
            </a>
            <small class="tagline" style="vertical-align: text-top">
                (Computers, coffee, code <strike>and giant spiders</strike>)
            </small>
            <nav class="navigation">
                <a class="first" href="http://twitter.com/mitchchn">About</a>
                <span style="color: #A68DD7">●</span>
                <a href="http://twitter.com/mitchchn">Twitter</a>
            </nav>
        </div>
        <div>
        </div>
    </div>
</div>
