<header class = "post-header">
  {% if page.link %}
      <h2 class="post-title link-post"><a class="link-post" href={{page.link}}>{{ page.title }}</a>
      </h2>
    {% else %}
    <h1 class="post-title"><a href={{page.url}}>{{ page.title }}</a></h1>
  {% endif %}
  <div class="controls">
  <a class="first permalink right" href="http://www.twitter.com/share?{{site.baseurl}}{{post.url}}"><i class="fa fa-twitter"></i>&nbsp;tweet</a>
  <time class="post-date">{{ page.date | date: "%A – %B %d, %Y" }}</time>
  </div>
</header>