<div class = "post-info post-controls text-center" id="post-content">
  <time class="post-controls post-date" datetime="{{page.date}}" itemprop="datePublished" content="{{page.date | date: '%Y-%m-%d'}}">{{ page.date | date: "%B %d, %Y" }}</time>&nbsp;&bull;&nbsp;<span class="author" itemprop="author">Mitchell Cohen</span>
 <!--{% if page.tag %}
   <p class="category">
  <span>Filed in: </span>
  <a>
  <i class="fa fa-tag text-icon"></i><span>{{ page.tag }}</span>
  </a>
  </p>
  {% endif %}-->
</div>