---
layout: master
---


<div id="main"></div>
   {% for post in paginator.posts %}
    <article class="post">
      {% include fp-post-header.html %} 
            {% include fp-post-content.html %}
    </article>
    <hr>
{% endfor %}

<div class="row">
<div class="large-9 large-centered medium-9 medium-centered columns">
{% include fp-archive.html %}
</div>
</div>

<!-- <div class="pagination-centered">
<ul class="pagination">
{% if paginator.next_page %}
  <li class="arrow"><a href="/page{{paginator.next_page}}">&laquo; Older</a></li>
{% else %}
  <li class="arrow unavailable">&laquo; Older</li>
{% endif %}
{% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <li class="arrow"><a href="/page{{paginator.previous_page}}">&raquo; Newer</a></li>
  {% else %}
    <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer &raquo;</a>
  {% endif %}
{% else %}
  <li class="arrow unavailable">Newer &raquo;</li>
{% endif %}
</ul>
</div>
 -->