---
layout: master
---
{% include fp-hero.html %}
<div id="main"></div>
  <div class="row"> 
   {% for post in paginator.posts %}
    <article class="post large-9 large-centered medium-9 medium-centered columns">
      {% include fp-post-header.html %} 
            {% include post-content.html %}
    </article>
    <hr class="post-separator large-8 large-centered medium-8 medium-centered small-8 small-centered column">
{% endfor %}
</div>

<div class="row">
<div class="large-9 large-centered medium-9 medium-centered columns">
{% include fp-archive.html %}
</div>
</div>

<!-- <div class="pagination-centered">
<ul class="pagination">
{% if paginator.next_page %}
  <li class="arrow"><a href="/page{{paginator.next_page}}">&laquo; Older</a></li>
{% else %}
  <li class="arrow unavailable">&laquo; Older</li>
{% endif %}
{% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <li class="arrow"><a href="/page{{paginator.previous_page}}">&raquo; Newer</a></li>
  {% else %}
    <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer &raquo;</a>
  {% endif %}
{% else %}
  <li class="arrow unavailable">Newer &raquo;</li>
{% endif %}
</ul>
</div>
 -->