<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    
    {% include masthead.html %}

    <!-- Main Blog Content -->
    <div role="content">
      <div class="row">
      {{ content }}
      <div class="clear large-12 medium-12 small-12">&nbsp;</div>
      </div>
    </div>



    <div class="row">
    <div class="footer large-11 medium-11 large-centered medium-centered columns">
        <p>
          &copy; {{ site.time | date: '%Y' }} Mitchell Cohen.
        </p>
    </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
