---
layout: master

---

<div id="main"></div>
<article class="post">
  {% include post-header.html %}

  <div id="post-content" class="post-content">
    {{ content }}
  </div>
  <footer class = "controls">
    <a class="permalink" href={{post.url}}><i class="fa fa-chain"></i>&nbsp;[PERMALINK]</a>
  </footer>
</article>

<div class="row">
<div class="page-navigation large-10 large-centered medium-10 medium-centered columns"> 
        <div class="left"> 
        {% if page.previous.url %}
        <p> 
                <a href="{{page.previous.url}}" title="Previous Post: 
{{page.previous.title}}">&laquo; {{page.previous.title}}</a></p> 
        {% endif %} 
        </div>

        <div class="right"> 
        {% if page.next.url %} 
        <p>
                <a href="{{page.next.url}}" title="next Post: 
{{page.next.title}}">{{page.next.title}} &raquo; </a></p> 
        {% endif %} 
        </div> 
</div>
</div>